<div class=" comp-item custom-comp-item demo-chart"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  draggable="true" 
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor']
  }"

  echarts 
  [options]="chartOption">
</div>