:host /deep/ {
    .tabs {
        position: relative;
        margin: 10px;
        .tabs-tit {
            position: absolute;
            font-size: 14px;
            top: 0px;
            .lists {
                display: inline-block;
                .item {
                    cursor: pointer;
                    padding: 4px 10px;
                    margin-right: 10px;
                    border-radius: 10px;
                    background: rgba($color: red, $alpha: 0.2);
                    &:hover {
                        background: rgba($color: red, $alpha: 0.5);  
                    }
                }
            }
        }

    }
}