<div class="comp-item" 
  draggable="true" 
  (dragstart)="compEvent($event)"
  (drag)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'background':style['background'],
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor'],
    'text-align':style['textAlign'],
    'z-index':style['zIndex'],
    'border-radius':getBorderRadius(style['borderRadius']),
    'padding-top':expandUnit('paddingTopBottom'),
    'padding-bottom':expandUnit('paddingTopBottom'),
    'padding-left':expandUnit('paddingLeftRight'),
    'padding-right':expandUnit('paddingLeftRight')
  }"  
>

<span> {{data['text_val'] || '左侧输入文本'}} </span>
</div>
