
:host /deep/ {
    #auxi-comp {
        .line-item  {
            position: absolute;
            background:  repeating-linear-gradient(-45deg, red, red 5px, white 0.2px, white 10px);
            display: block;
        }
        .line-view-w {
            height: 0.5px;
            width: 100%;
        }

        .line-view-h {
            width: 0.5px;
            height: 100%;
        }

        .w-h {
            position: absolute;
            font-size: 12px;
            color: #aaaaaa;
            &.width {
                right: -5px;
                bottom: 10px;            
            }
            &.width2 {
                top:10px;            
            }
            &.height {
                bottom: -3px;
                right: 10px;
            }
            &.height2 {
                left: 10px;
            }
        }


        .circle-item {
            z-index: 1000;
            position: absolute;
            width: 6px;
            height: 6px;
            border:1px solid red;
            border-radius: 50%;
            background: #ffffff;
            pointer-events:auto;
            &.col {
                cursor: ew-resize;
            }
            &.row {
                cursor: ns-resize;
            }
        }
    }

}