
:host /deep/ {
   .comp-tit {
        cursor: pointer;
        position: relative;
        height: 24px;
        line-height: 24px;
        background: #f2f2f2;
        .icon {
            position: absolute;
            width: 14px;
            height: 14px;
            right: 20px;
            top: 5px;
        }
        .tit {
            margin-left: 8px;
        }
   }

   .grid-2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}