<div class="comp-item">

    <!-- 没有选择组价 -->
    <ng-container  *ngIf="!activeSettingObj">
      <div class="item-discription noComp">
        <div class="title" title="请选择组件">{{'组件名称'}}</div>
      </div>
    </ng-container>
    <!-- 属性设置 -->
    <ng-container *ngIf="activeSettingObj">
      <div class="item-discription">
        <div class="title">{{activeSettingObj['name']}}</div>
      </div>
      
      <div class="comp-tit" (click)="showState('style')">
        <img class="icon" src="./../../../../assets/icons/downicon.svg" [ngClass]="{'icon-showmore':showObj['style'],'icon-showlitter':!showObj['style']}" alt="">
        <div class="tit"> 基本属性</div>
      </div>
  
      <div class="set-body">
        <div class="set-list scrollY" [ngClass]="{'showmore':showObj['style'],'showlitter':!showObj['style']}">
          <app-size [style]="activeSettingObj['style']"></app-size>
          <app-position class="set-item" [style]="activeSettingObj['style']"></app-position>
          <app-opacity class="set-item" [style]="activeSettingObj['style']"></app-opacity>
          <app-fonts class="set-item" [style]="activeSettingObj['style']"></app-fonts>
          <app-border-component class="set-item" [style]="activeSettingObj['style']"></app-border-component>
          <app-background class="set-item" [style]="activeSettingObj['style']"></app-background>
          <app-z-index class="set-item" [style]="activeSettingObj['style']" ></app-z-index>
        </div>
      </div>
      
      <div class="comp-tit" (click)="showState('value')">
        <img class="icon" src="./../../../../assets/icons/downicon.svg" [ngClass]="{'icon-showmore':showObj['value'],'icon-showlitter':!showObj['value']}" alt="" >
        <div class="tit"> 赋值</div>
      </div>
      <div class="set-body">
        <div class="set-list scrollY" [ngClass]="{'showmore':showObj['value'],'showlitter':!showObj['value']}">
          <app-img-val [data]="activeSettingObj['data']"></app-img-val>
          <app-button-val [data]="activeSettingObj['data']"></app-button-val>
          <app-input-val [data]="activeSettingObj['data']"></app-input-val>
          <app-textarea-val [data]="activeSettingObj['data']" ></app-textarea-val>
          <app-text-val [data]="activeSettingObj['data']"></app-text-val>
          <app-list-val [data]="activeSettingObj['data']"></app-list-val>
          <app-video-val [data]="activeSettingObj['data']"></app-video-val>
          <app-audio-val [data]="activeSettingObj['data']"></app-audio-val>
        </div>
      </div>
      <div class="comp-tit"  (click)="showState('event')">
        <img class="icon" src="./../../../../assets/icons/downicon.svg" [ngClass]="{'icon-showmore':showObj['event'],'icon-showlitter':!showObj['event']}" alt="">
        <div class="tit"> 事件</div>
      </div>
      <div class="set-body">
        <div class="set-list scrollY" [ngClass]="{'showmore':showObj['event'],'showlitter':!showObj['event']}">
          <app-route-event [event]="activeSettingObj['event']"></app-route-event>
        </div>
      </div>
  
      <!-- 组件删除 -->
      <div class="del">
        <img class='del-btn' (click)="deleteComp($event)" src="../../../../assets/icons/delete.svg" title="删除组件" alt="删除组件">
      </div>

  </ng-container>
    
    <!-- 边框设置 -->
    <div class="div-border left-border">

    </div>
</div>
