<div class="comp-item" *ngIf="activeSettingObj">
    <div class="item-discription">{{activeSettingObj['name']}}</div>
    <div class="item-tit" >
     
    </div>
    <div class="comp-tit" (click)="module['hiddenBool']= !module['hiddenBool']">
      <img class="icon" src="./../../../../assets/icons/downicon.svg" alt="">
      <div class="tit"> 基本属性</div>
    </div>
    <div class="set-body">
      <div class="set-list">
        <app-size [style]="activeSettingObj['style']"></app-size>
        <app-position [style]="activeSettingObj['style']"></app-position>
        <app-fonts [style]="activeSettingObj['style']"></app-fonts>
        <app-border-component [style]="activeSettingObj['style']"></app-border-component>
        <app-background [style]="activeSettingObj['style']"></app-background>
        <app-opeacity [style]="activeSettingObj['style']"></app-opeacity>
        <app-z-index  [style]="activeSettingObj['style']" ></app-z-index>
      </div>
    </div>
    
    <div class="comp-tit" (click)="module['hiddenBool']= !module['hiddenBool']">
      <img class="icon" src="./../../../../assets/icons/downicon.svg" alt="">
      <div class="tit"> 赋值</div>
    </div>
    <div class="set-body">
      <div class="set-list">
        <app-img-val [data]="activeSettingObj['data']"></app-img-val>
        <app-button-val [data]="activeSettingObj['data']"></app-button-val>
        <app-input-val [data]="activeSettingObj['data']"></app-input-val>
        <app-textarea-val [data]="activeSettingObj['data']" ></app-textarea-val>
        <app-text-val [data]="activeSettingObj['data']"></app-text-val>
        <app-list-val [data]="activeSettingObj['data']"></app-list-val>
        <app-video-val [data]="activeSettingObj['data']"></app-video-val>
        <app-audio-val [data]="activeSettingObj['data']"></app-audio-val>
      </div>
    </div>
    <div class="comp-tit" (click)="module['hiddenBool']= !module['hiddenBool']">
      <img class="icon" src="./../../../../assets/icons/downicon.svg" alt="">
      <div class="tit"> 事件</div>
    </div>
    <div class="set-body">
      <div class="set-list">
        <app-route-event [event]="activeSettingObj['event']"></app-route-event>
      </div>
    </div>

    <!-- 组件删除 -->
    <div class="del">
      <img (click)="deleteComp($event)" src="../../../../assets/icons/delete.svg" title="删除组件" alt="删除组件">
    </div>
  </div>
  <div class="comp-item disabled-opeaticy " disabled *ngIf="!activeSettingObj">
      <div class="item-discription">请选择组件</div>
  </div>