<div class="comp-item" 
  draggable="true" 
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (dblclick)="inputState($event)"
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'background':style['background'],
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor'],
    'text-align':style['textAlign'],
    'z-index':style['zIndex']
  }"  
>

<span *ngIf="!settingObj['editeabled']"> {{data['text_val'] || '文本'}} </span>
<div *ngIf="settingObj['editeabled']"  contenteditable="true" (input)="inputVal($event)">
  {{data['text_val']}}
</div>
</div>
