:host /deep/ { 
    .preview {
        position: relative;
        display: block;
        .preview-icon {
            position: absolute;
            right: 30px;
            top:-43px;
            img.preview {
                padding: 5px;
                border-radius: 50%;
                width: 30px;
            }
        }
    }
}