<div class="comp-item" *ngIf="activeSettingObj">
  <div class="item-discription">图片</div>
  <div class="item-tit" >
    基本
  </div>
  <div class="set-body">
    
    <div class="set-list">
      <!--长宽 -->
      <app-size-component [style]="activeSettingObj['style']"></app-size-component>
      <!-- 位置 -->
      <app-position-component [style]="activeSettingObj['style']"></app-position-component>

    </div>
  </div>
</div>
<div class="comp-item disabled-opeaticy" disabled *ngIf="!activeSettingObj">
    <div class="item-discription">请选择组件</div>
</div>