<div  id="auxi-comp">
  <!-- 定位辅助 -->
  <section class="positing">
    <div class="line-item line-view-w" id="line-top" [ngStyle]="{'top':'-19px','left':expandUnit('left'),'height':'5px','width':expandUnitCustom('width','paddingLeftRight')}"></div>
    <div class="line-item line-view-h" id="line-left" [ngStyle]="{'left':'-40px','top':expandUnit('top'),'width':'5px','height':expandUnitCustom('height','paddingTopBottom')}"></div>
  </section>

  <!-- 拉伸辅助 -->
  <section class="stretch">
    <div class="circle-item circle-view-left col" 
      draggable="true" 
      (dragstart)="compEvent($event, 's')"
      (drag)="compEvent($event, 'l')"
      (dragend)="compEvent($event, 'l', true) "
      [ngStyle]="{
        'border-color':getBorderCol(),
        'top':expandAuxiUnit('top', 'l_t', false, 'height', true, -3),
        'left':expandAuxiUnit('left', 'l_l', false, null, false, -3)}">
        <span  *ngIf="style['left'] > 20" class="w-h height">{{style['height']}}</span>
      </div>
    <div class="circle-item circle-view-right col" 
      draggable="true" 
      (dragstart)="compEvent($event, 's')"
      (drag)="compEvent($event, 'r')"
      (dragend)="compEvent($event, 'r', true)"
      [ngStyle]="{
        'border-color':getBorderCol(),
        'top':expandAuxiUnit('top', 'r_t', false, 'height', true, -3),
        'left':expandAuxiUnit('left', 'r_l', false, 'width', false, -3)}">
        <span *ngIf="style['left'] <= 20" class="w-h height height2">{{style['height']}}</span>
      </div>    
    <div class="circle-item circle-view-top row" 
      draggable="true"   
      (dragstart)="compEvent($event, 's')"
      (drag)="compEvent($event, 't')"
      (dragend)="compEvent($event, 't', true)"
      [ngStyle]="{
        'border-color':getBorderCol(),
        'top':expandAuxiUnit('top', 't_t', false, null, false, -3),
        'left':expandAuxiUnit('left', 't_l', false, 'width', true, -3)}">
        <span *ngIf="style['top'] > 20"  class="w-h width">{{style['width']}}</span>
      </div>        
    <div class="circle-item circle-view-bottom row" 
      draggable="true" 
      (dragstart)="compEvent($event, 's')"
      (drag)="compEvent($event, 'b')"
      (dragend)="compEvent($event, 'b', true)"
      [ngStyle]="{
        'border-color':getBorderCol(),
        'top':expandAuxiUnit('top', 'b_t', false, 'height', false, -3),
        'left':expandAuxiUnit('left', 'b_l', false, 'width', true, -3)}">
        <span *ngIf="style['top'] <= 20" class="w-h width width2">{{style['width']}}</span>
      </div>            
  </section>
</div>
