:host {
    svg {
        background: #ddd;
    }
    #componentsBody .comp-line.comp-line-active {
        z-index: 0 !important;
    }
    .comp-line {
        position: absolute;
        cursor: pointer;
        background: yellowgreen;
    }
    .circle-item {
        cursor:all-scroll;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 1px solid red;
        padding: 0 !important;
        margin: 0 !important;
        background: #ffffff;
        pointer-events: auto;
        z-index: 11 !important;
        &.fir {
            left: 0;
            top:0;
        }
        &.sec {
            left: 100px;
            top:100px;
        }
        &.end {
            left:200px;
            top:200px;
        }
    }
}