<div class="item-set item-set-grid grid-1">
    <div class="tit">边框</div>
  <!-- 简化用户操作 -->
  <div class="set-val">
    <!-- <label class="lab">边框</label> -->
    <div class="style-bg-color">
        <span [ngStyle]="{'background':style['borderColor']}"></span>
    </div>
    <ul class="borders">
        <li class="item" *ngFor="let bg of borderCol;let i = index;" [ngClass]="{'bd-style':i === 0}">
          <span class="bg-col" (click)="selBorderCol(bg, i)"  [ngStyle]="{'background':bg}"></span>
        </li>
      </ul>
    </div>
</div>