:host /deep/ { 

    .style-bg-color {
        span {
            width: 19px;
            height: 18px;
            display: inline-block;
            border:1px solid #e6e6e6;
        }
    }


    .item {
        display:inline-block;
        min-width: 25px;
        .bg-col {
            width: 20px;
            height:20px;
            padding: 0 1px;
            display:inline-block;
            cursor: pointer;
        }
    }

}