<span class="comp-item" 
  draggable="true" 
  [ngClass]="{'comp-active': settingObj['active'] }"  
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor']
  }"  
  (dragstart)="dragComponetStart($event)" 
  (dragend)="dragComponetEnd($event)" 
  (click)="selectComp($event)" 
> {{settingObj['value'] || '输入文本'}} 
</span>