:host /deep/ {
    ul,li{
        list-style: none;
        padding:0px;
    }
    .tit {
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: left;
        border-bottom: 1px solid #cccccc;
        padding-left: 10px;
        font-size: 13px;
        -webkit-user-select: none;
        user-select: none;
    }
    .scrollY {
        height: 180px;
    }
    .fa, .far {
        opacity: 0.8;
        padding-right: 6px;
        color: #555;
    }

    .tree {
        padding: 3px 0 3px 6px;
        img.icon {
            width: 12px;
            padding:2px 4px;
        }
        .node-item {
            position: relative;
            display: inline-block;
            cursor: pointer;
            padding: 3px 5px;
            line-height: 20px;
            height: 20px;
            .name {
                position: absolute;
                width: 100px;
                margin-left: 2px;
            }
            .sub-item {
                position: relative;
                cursor: pointer;
                padding: 3px 5px 3px 10px;
                line-height: 16px;
                height: 16px;
               
                .sub-name {
                    position: absolute;
                    display: inline-block;
                    width: 100px;
                }
            }
        }
    
    }


}