:host /deep/ {
    .tit {
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: left;
        border-bottom: 1px solid #cccccc;
        padding-left: 10px;
        font-size: 13px;
        -webkit-user-select: none;
        user-select: none;
    }
    .scrollY {
        height: 180px;
    }
    .fa, .far {
        opacity: 0.8;
        padding-right: 6px;
        color: #555;
    }

    tree-internal ul {
        padding: 3px 0 3px 6px;
        .node-value {
            cursor: pointer;
            padding:2px 10px;
            &::after {
                border:none;
                background-color:transparent;
            }
            &.node-selected{
                font-size: 14px;
                color: dodgerblue;
                border-radius: 5px;
                border:1px solid dodgerblue;
                background: rgba(18, 150, 219, 0.1);
                .far {
                    color:dodgerblue;
                }
            }
            &:hover{
                color: dodgerblue;
            }
        }
        
    }


}