<div class="comp-config">
  
  <!-- 1.页面管理 -->
  <div class="marage-btn" *ngIf="pageGridSetting['showLeft']">
    <img class="floder" src="./../../../../assets/icons/m-add-floder.svg" alt="增加文件夹">
    <img class="file" src="./../../../../assets/icons/m-add-file.svg" alt="增加文本">
    <img class="editor" src="./../../../../assets/icons/m-editor.svg" alt="编辑">
    <img class="editor" (click)="currentPageEvent('save')" src="./../../../../assets/icons/save.svg" alt="保存">
    <img class="delete" src="./../../../../assets/icons/m-del.svg" alt="删除">
  </div>
  <!-- 2.页面管理 -->

  <app-comp-page *ngIf="pageGridSetting['showLeft']" 
  [treeNodes]="treeNodes"
  (selCurrentPage)="seledCurrentPage($event)"></app-comp-page>
  <!-- 3.组件列表 -->
  <app-comp-list
    *ngIf="pageGridSetting['showLeft']"
    class="modules" 
    [componentModules]="compList"
    (compDragEvent)="dragCompEnd($event)">
  </app-comp-list>

  <!-- 4.边框设置 -->
  <div class="div-border right-border">
    <div class="set-btn" (click)="showGrigFun()">
      <img src="./../../../../assets/icons/right.svg" alt="" *ngIf="!pageGridSetting['showLeft']">
      <img src="./../../../../assets/icons/left.svg" alt="" *ngIf="pageGridSetting['showLeft']"> 
    </div>
  </div>
</div>