
:host /deep/ {
    .icon-disc {
        width: 30px;
        height: 30px;
        margin-top: 5px;

        background: url("../../../assets/icons/down.svg");

        &.acitve {
            background: url("../../../assets/icons/up.svg");
        }
    }
    .run-but {
        cursor: pointer;
        right: 60px;
        position: absolute;
        top: -35px;
        border-radius: 50%;
        img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            &:hover {
                background:rgba(255,0,0,0.1);
            }
        }
    }

    .set-but {
        img {
            width: 24px;
        }
    }

    .disabled-opeaticy {
        opacity: 0.7;
        cursor: not-allowed;
    }
}