<div class="body" [ngClass]="{
  'whole-view':!setingBool
}">
  <div class="pages">
    <!-- #TODO -->
    <div class="page-body">
      <div class="page-icon" title="页面管理">
        <img class="pages" (click)="showPage()" src="./../../../assets/icons/guanli.svg" alt="">
        <img class="hidden" (click)="showPage()" title="展示页面列表" [ngClass]="{'curner':showPageList, 'curner-back':!showPageList}"  src="./../../../assets/icons/hidden.svg" alt="">
        <div class="page-content" [ngClass]="{'page-show':showPageList, 'page-hidden':!showPageList}" >
          <ul class="list">
            <li class="item" *ngFor="let item of pageList;"  >
                <img class="page-icon" src="./../../../assets/icons/page.svg">
                <div class="page-name" [contentEditable]="item['editable'] || false" (force)="inputVal($event, item)"  (input)="inputVal($event, item)" (blur)="changeEditable(item,'del')" (dblclick)="changeEditable(item, 'editable')">{{item['name']}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="canvas-comp">
    <app-scale></app-scale>
  </div>

  <!-- 视图组件 -->

  <section id='componentsBody' class="border-r border-b m-l-5 h90 content">
    <ng-template view-contain-ref #contentComp ></ng-template>
  </section>

  <!-- 设置组件-->
  <section class="setting-but">
    <div class="run-but" (click)="preView()">
      <img src="./../../../assets/icons/run.svg" title="运行" alt="运行">
    </div>    
    <div class="set-but" (click)="settingHidle()">
      <img src="./../../../assets/icons/settings.svg" title="组件设置" alt="组件设置">
    </div>

    <div class="setting border1 h90" *ngIf="setingBool">
        <div class="header">
          <div class="heade" *ngFor="let heade of componentsHeaders"  [ngClass]="{'active': heade['state'] === settingState}" (click)="activeSettingState(heade['state'])">
            <span >{{heade['name']}}</span>
          </div>
        </div>
    
        <app-comp-list *ngIf="settingState === 'default'" 
          class="modules" 
          [componentModules]="componentModules"
          (compDragEvent)="dragCompEnd($event)"></app-comp-list>
         
        <app-comp-setting *ngIf= "settingState === 'settings'" 
          class="settings" 
          [activeSettingObj]="activeCompSettingObject" 
          (settingObjChange)="chengeComponent($event)"
          (deleteComponent)="deleteComponent($event)"></app-comp-setting>
      </div>
  </section>


</div>