<div 
  class=" comp-item custom-comp-item list-comp"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  draggable="true" 
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor']
  }" >
  <div class="list-cont">
    <div class="tit"> 列表 </div>
    <div class="list-body">
      <ul>
        <li class="item" *ngIf="lists.length === 0">没有数据</li>
        <li class="item" *ngFor="let item of lists;">
          <span class="id">{{item['id']}}</span>
          <span class="name">{{item['name']}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>