
:host /deep/ { 
    .list-cont {
        padding: 20px;
        .tit {
            font-size:16px;
            border-bottom: 0.5px solid #cccccc;
            padding-bottom: 13px;
        }
        .list-body {
            .item {
                line-height: 30px;
                height: 30px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-column-gap: 10px;
                span {
                    padding-left: 10px;
                    border-bottom: 0.2px solid #cccccc;
                }
            }
        }
    }
}
