:host /deep/ {
    ul,li{
        list-style: none;
        padding:0px;
        margin: 0;
    }
    .pages {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        .page-item {
            position: relative;
            height: 24px;
            line-height: 24px;
            cursor: pointer;
            &:active ,&:hover, &.actived{
                background: rgba(255,0,0,0.1);
            }
            &.actived {
                color:red;
                font-size: 14px;
                font-weight: 600;
            }
            .icon {
                padding:3px;
                position: absolute;
            }
            .page-name {
                margin-left: 26px;
            }
        }
    }

}