<div class="comp-page scrollY">
  <!-- <div class="tit">页面列表</div> -->
  <div class="pages" *ngIf="!pages['hideBool']">
    <ng-container  *ngFor="let page of pages['children'];">
        <div class="item page-item" [ngClass]="{actived: page['actived']}" (click)="changeComponent(page)">
          <img src="assets/icons/page.svg" alt="" class="icon">
          <span class="page-name" >{{page['value']}}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="!pages['children'] || pages['children'].length ===0">
        <span class="no-val">当前项目没有页面，请先创建新的页面</span>
      </ng-container>
  </div>
</div>
