<div class="workspace-body">
  <div class="projects">
    <div class="tit">
      <span class="title">项目</span>
      <span class="description">
        <ng-container *ngFor="let item of stateArr;">
            <span class="item">
            <img src="{{item['src']}}" alt="">
            <span class="val">{{item['val']}}</span>
          </span>
        </ng-container>

      </span>
    </div>
    <div class="list" >
      <ng-container *ngFor="let item of projectArr;">
        <div class="project">
          <div class="more">
            <span class="state" ><img src="./../../../assets/icons/state_{{item['state']}}.svg" alt=""></span>
            <img class="more" src="./../../../assets/icons/more.svg" alt="">
          </div>
        
          <div class="name" >
            <span>{{item['name']}}</span>
          </div>
          <div class="detail">
             <div class="description">
                简介:
                {{item['desciption'] || '无'}}
             </div>
             <div class="operating-append">
               <div class="item edit">编辑项目</div>
               <div class="item info">详情</div>
             </div>

          </div>
          <div class="operating">
            <div class="item del" title="删除"><img src="./../../../assets/icons/del.svg" alt="删除"></div>
            <div class="item run" title="运行"><img src="./../../../assets/icons/run-project.svg" alt="运行"></div>
          </div>
        </div>
      </ng-container>
      <div class="project add-pro" title="添加项目">
          <div class="operating item-add" title=""><img class="add" src="./../../../assets/icons/add-project.svg" alt="添加项目"></div>
      </div>

    </div>
  </div>
</div>