.grid-1 {
    grid-template-columns: 100%;
    .tit {
        margin: 3px 0px;
    }
    .set-val {
        display: grid;
        grid-template-columns: 30% 69%;
        .lab {
            width: 50px !important;
            padding-left: 15px;
        }
        .val {
            width: 100px !important;
        }
    }
}