<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p class="title">组件开发</p>
  <div class="body">
    <div id='componentsBody' class="border1 h90 content" (drop)="drop_handler(event)">
        <ng-template view-contain-ref #contentComp></ng-template>
    </div>
    <div class="setting border1 h90">
      <div class="header">
        <div class="heade" *ngFor="let heade of componentsHeaders" [ngClass]="{'active': heade['state'] === settingState}" (click)="activeSettingState(heade['state'])">
          <span>{{heade['name']}}</span>
        </div>
      </div>

      <!-- 组件 -->
      <div *ngIf="settingState === 'default'" class="lists"> 
        <div class="item" *ngFor="let comp of basicCompIconList;" >
            <div class="cont" draggable="true" (dragstart)="dragCompStart($event, comp['type'])" >
              <img src="{{comp['iconUrl']}}" alt="{{comp['name']}}" class="icon">
            <p class="text">{{comp['name']}}</p>
          </div>
        </div>
      </div>

      <!-- 设置 -->
      <div *ngIf= "settingState === 'settings'" class="settings">
        <app-comp-setting></app-comp-setting>
      </div>

      <div class="del">
        <button (click)="delComponent()">清除</button>
      </div>
      <div class="test">
        <button (click)="testCurrentComp()">测试绑定</button>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>