<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p class="title">组件开发</p>
  <div class="body">
    <div id='componentsBody' class="border1 h90" (drop)="drop_handler(event)">
      <div class="content" #compBody></div>
    </div>
    <div class="setting border1 h90">
      <div class="header">
        <div class="heade" *ngFor="let heade of componentsHeaders" [ngClass]="{'active': heade['state'] === settingState}" (click)="activeSettingState(heade['state'])">
          <span>{{heade['name']}}</span>
        </div>
      </div>
      <div *ngIf="settingState === 'default'" class="lists"> 
          <div class="item" *ngFor="let comp of basicComponents;" draggable="true" (dragstart)="dragCompStart($event)" (dragover)="dragCompOver($event)" (dragend)="dragCompEnd($event)">
              <div class="cont">
               <img src="{{comp['iconUrl']}}" alt="{{comp['name']}}" class="icon">
              <p class="text">{{comp['name']}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->