$color-blue-1: #F6F7FB ;
$color-blue-2: #eaf6fe;
$color-blue-3: #3399ff;
$color-grey-1: #cccccc;

$color-red-1: rgba(255, 0, 0, 0.6);

$backgroudn-color1: $color-blue-2;

$border-color1: $color-blue-1;
$border-color2: $color-blue-2;
$border-color3: $color-red-1;
$border-color4: $color-grey-1;

:host /deep/ {
    .body {
        position: relative;
        display: grid;
        grid-template-columns: auto 210px;
        ul,li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .disabled-status {
            cursor: not-allowed;
        }
        &.whole-view {
            grid-template-columns: auto;
        }
        grid-column-gap: 3px;
        .h90 {
            height: 800px;
        }
        .m-l-5 {
            margin-left: 5px;
        }
        .p-2-5 {
            padding: 2px 5px;
        }
        .dis-in {
            display: inline-block;
        }

        .border-b {
            border-bottom: 1px solid #cccccc;
        }

        .border-r {
            border-right: 1px solid #cccccc;
        }
        .border1 {
            border: 1px solid #cccccc;  
        }

        #componentsBody {
            position: relative;
            background-image:
            linear-gradient(rgba(200, 205, 208, .3) 1px, transparent 0),
            linear-gradient(90deg, rgba(200, 205, 208, .3), 1px, transparent 0),
            linear-gradient( #C8CDD0 1px, transparent 0),
            linear-gradient(90deg, #C8CDD0 1px, transparent 0);
            background-size: 15px 15px, 15px 15px, 105px 105px, 105px 105px;
            .comp-item {
                cursor: pointer;
                background: rgba($color:#ffffff , $alpha: 1.0)
            }
            .comp-active {
                border: 1px solid $border-color3;
            }

            .comp-resize {
                cursor: e-resize;
            }
        }
        .setting-but {
            .set-but {
                position: absolute;
                top: -35px;
                right: 20px;
                cursor: pointer;
                img {
                    width: 25px;
                    &:hover {
                        color: red;
                    }
                }
            
            }

            //1.设置组件
            .setting {
                width: 200px;
                position: absolute;
                top: 0px;
                right: 10px;
                background: #ffffff;
                .header {
                    display: block;
                    position: relative;
                    text-align: left;
                    margin: 5px 0px 0px ;
                    border-bottom: 1px solid #aaaaaa;

                    .heade {
                        display: inline-block;
                        width: 60px;
                        text-align: center;
                        margin-left: 6px;
                        margin-bottom: 6px;
                        padding: 3px 4px;
                        cursor: pointer;
                        &:hover {
                            background: #cccccc;
                            color: #ffffff;
                        }

                        &.active {
                            background: deepskyblue;
                            color: #ffffff;
                        }
                    }
                }

                .comp-tit {
                    position: relative;
                    cursor: pointer;
                    padding: 5px 13px;
                    .icon-disc {
                        width: 18px;
                        height:18px;
                        background-repeat: no-repeat;
                    }
                    .tit {
                        font-size: 15px;
                        letter-spacing: 2px;
                        position: absolute;
                        top: 8px;
                        left: 39px;
                    }

                }

                //1.设置组件-组件
                .lists {
                    display: grid;
                    grid-template-columns: 33.3% 33.3% 33.3% ;
                    padding: 8px;
                    border-bottom: 1px solid $border-color4;
                    .item {
                        cursor: pointer;
                        margin-right: -1px;
                        margin-bottom: -1px;
                        border: 1px solid #cccccc;
                        height: 70px;
                        position: relative;
                        text-align: center;
                        &:hover {
                            border: 1px solid $border-color3;
                            z-index: 2;
                        }
                        img.icon {
                            width: 30px;
                            height: 30px;
                            margin-top: 5px;
                        }
                        p.text{
                            position: absolute;
                            bottom: 0px;
                            text-align: center;
                            width: 100%;
                            font-size: 14px;
                            bottom: -6px;
                        }
                    }
                }

                //2.设置组件-组件
                .settings {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: block;
                    font-size: 13px;
                    text-align: left;

                    .item-discription {
                        padding: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing:2px;
                        border-left: 5px solid #108CEE ;
                    }

                    .item-tit {
                        padding: 6px 10px;
                        background:$backgroudn-color1;
                    }

                    .set-body {
                        .item-set {
                            position: relative;
                            margin-top: 5px 2px;
                            padding:3px 5px;
                            &.item-set-grid {
                                display: grid;
                                position: relative;
                                grid-column-gap: 3px;
                                &.grid-2 {
                                    grid-template-columns: 48% 48%;
                                }
                                &.grid-3 {
                                    grid-template-columns: 18% 40% 40%;
                                }
                                .set-val {
                                    position: relative;
                                    padding: 2px;
                                    .lab {
                                        position: relative;
                                        z-index: 100;
                                        display: inline-block;
                                        width: 20px;
                                    }
                                    .val {
                                        width:50px;
                                        padding-left: 6px;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
   
    .data-val {
        position: relative;
            .tit {
                margin: 10px;
            }
            .val {
                width: 80%;
                padding-left: 10px;
                input {
                    height: 30px;
                    padding: 2px 5px;
                    width: 100%;
                }
            }
        }
    }
}