<div class="body">
  <div id='componentsBody' class="border-r border-b m-l-5 h90 content">
      <ng-template  view-contain-ref #contentComp></ng-template>
  </div>

  <div class="setting border1 h90">
    <div class="header">
      <div class="heade" *ngFor="let heade of componentsHeaders"  [ngClass]="{'active': heade['state'] === settingState}" (click)="activeSettingState(heade['state'])">
        <span >{{heade['name']}}</span>
      </div>
    </div>


    <div *ngIf="settingState === 'default'" class="lists"> 
      <div class="item" *ngFor="let comp of basicCompIconList;" >
          <div class="cont" draggable="true" (dragstart)="dragCompStart($event, comp['type'])" >
            <img src="{{comp['iconUrl']}}" alt="{{comp['name']}}" class="icon">
          <p class="text">{{comp['name']}}</p>
        </div>
      </div>
    </div>

    <div *ngIf= "settingState === 'settings'" class="settings">
      <app-comp-setting [activeSettingObj]="activeCompSettingObject" (settingObjChange)="chengeComponent($event)"></app-comp-setting>
    </div>
  </div>
</div>