:host /deep/ { 
    .view {
        position: relative;
        display: block;
        .view-icon {
            position: absolute;
            right: 30px;
            top:-43px;
            img.view {
                padding: 5px;
                border-radius: 50%;
                width: 30px;
            }
        }
    }
}