:host ::ng-deep {

    .set-val label {
        width: 50px;
        margin-left: 18px;
    }
    input.val {
        width: 20px;
        float: left;
        z-index: 1;
        margin-left: -34px;
        left: 20px !important;
    }
    .val-grid-2 {
        display: grid;
        grid-template-columns: 20% 80%;
    }

}