<div
  class="comp-item active-border" 
  draggable="true" 
  (dragstart)="compEvent($event)"
  (drag)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] ,'comp-resize': settingObj['eResize']}"
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor'],
    'border-radius':style['borderRadius'],
    'z-index':style['zIndex'],
    'padding-top':expandUnit('paddingTopBottom'),
    'padding-bottom':expandUnit('paddingTopBottom'),
    'padding-left':expandUnit('paddingLeftRight'),
    'padding-right':expandUnit('paddingLeftRight'),
    '-webkit-user-drag':style['userDrag']
}">
    <video controls [ngStyle]="{
      'width':expandUnit('width'),
      'height':expandUnit('height')}">
      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        浏览器不支持视频,或者格式不支持
    </video>
</div>