:host /deep/ { 
    ul,li {
        list-style: none;
        margin:0;
        padding:0;
    }
    .home {
        position: relative;
        .design {
            position: absolute;
            right: 30px;
            top: -34px;
            a {
                color: #fff;
                background: rgba(255,0,0,.5);
                padding: 5px 10px;
                text-decoration: none;
                &:hover {
                    background: rgba(255,0,0,1);  
                }
            }
        }
        .route-list {
            position: relative;
            display: grid;
            grid-template-columns: 10% 10% 10% 10% ;
            grid-column-gap: 5px;
            .item {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                text-align: center;
                word-spacing: 10px;
                border: 1px solid #cccccc;
                &:hover {
                    border-color: black;
                }
            }
        }
    }
    .body {
        display: block;
        color:#555;
        width: 100%;
        height: 100%;
        .val {
            padding: 50px;
            font-size: 20px;
            text-align: center;
        }
    }
    .description {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        width:900px;
        left: 50%;
        margin-left: -450px;
        .des {
            width: 280px;
            display: inline-block;
            position: relative;
            text-align: left;
            margin: 0 auto;
            padding: 10px 30px;
            border:1px solid #dddddd;
            border-radius: 10px;
            .tit {
                font-size: 16px;
                font-weight: 600;
                padding: 10px 10px 10px 0;
                border-bottom: 1px dashed #dddddd;
            }
            .content {
                margin-top: 10px;
            }
            .child {
                font-size: 12px;
                position: relative;
                height: 24px;
                line-height: 24px;
                &.disabled {
                    color: #ccc;
                }
                .state {
                    position: absolute;
                    right: 10px;
                    .img {
                        width: 20px;
                    }
                }
            }
        }
    }
    .github {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 100px;
        height: 100px;
        display: block;
        z-index: 100;
        img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}