<div class="settings">
  <div class="comp-page">
    <!-- 预览 -->
    <div class="page-config">
      <div class="pre-view-background">
        <span class="title">背景:</span>
        <img class="item-bg" (click)="changeBg('open')" src="assets/icons/grid-open.svg" alt="网格开" title="网格开">
        <img class="item-bg" (click)="changeBg('close')" src="assets/icons/grid-close.svg" alt="网格关" title="网格关">
      </div>
      <div class="pre-view-button" (click)="hasPageBool && preView($event)">
        <img src="assets/icons/yulan.svg" class="pre-view" [ngClass]="{'display-pre':!hasPageBool}" title="预览" alt="预览">
      </div>   
      <div class="update">
        <div class="save" (click)="updatePage()">更新</div>
      </div>
    </div> 
  </div>
  <div class="comp-item">
      <!-- 1.页面选择-->
      <ng-container  *ngIf="!hasPageBool && !activeSettingObj && pageGridSetting['showRight']">
        <div class="item-discription noComp">
          <div class="title" title="请选择页面">{{'请选择页面'}}</div>
        </div>
      </ng-container>

      <!-- 2.页面设置 -->
      <ng-container  *ngIf="currentPage && !activeSettingObj && pageGridSetting['showRight']">
        <div class="item-discription">
          <div class="title" title="请选择组件">{{(pageName || '') + '页面'}}</div>
        </div>
        <div class="set-body">
          <app-page-size [pageStyles]="currentPage"></app-page-size>
        </div>
      </ng-container>

      <!-- 3.组件设置 -->
      <ng-container *ngIf="activeSettingObj && pageGridSetting['showRight']">
        <div class="item-discription">
          <div class="title">{{activeSettingObj['name']}}</div>
        </div>
        <!-- 组件删除 -->
        <div class="del">
          <img class='del-btn' (click)="deleteComp($event)" src="assets/icons/delete.svg" title="删除组件" alt="删除组件">
        </div>
    
  
        <div class="set-tabs">
          <ng-container *ngFor="let tab of states;" >
            <div class="item tab" (click)="activeState(tab)" [ngClass]="{'active':tab['active']}">
              {{tab['name']}}
            </div>
          </ng-container>
        </div>
  
        <div class="set-body" *ngIf="stateObj === 'style'">
          <div class="set-list scrollY styles" >
            <app-user-drag class="set-item user-select-node " [style]="activeSettingObj['style']"></app-user-drag>
            <app-size [style]="activeSettingObj['style']" class="user-select-node"></app-size>
            <app-position class="set-item user-select-node " [style]="activeSettingObj['style']"></app-position>
            <app-padding class="set-item user-select-node " [style]="activeSettingObj['style']"></app-padding>
            <app-border class="set-item user-select-node " [style]="activeSettingObj['style']"></app-border>
            <app-opacity class="set-item user-select-node " [style]="activeSettingObj['style']"></app-opacity>
            <app-fonts class="set-item user-select-node " [style]="activeSettingObj['style']"></app-fonts>
            <app-background class="set-item user-select-node " [style]="activeSettingObj['style']"></app-background>
            <app-z-index class="set-item user-select-node " [style]="activeSettingObj['style']" ></app-z-index>
            <app-style-copy class="set-item" [style]="activeSettingObj['style']"></app-style-copy>
          </div>
        </div>
        
        <div class="set-body" *ngIf="stateObj === 'data' ">
          <div class="set-list scrollY  setting-valus" >
            <app-img-val [data]="activeSettingObj['data']"></app-img-val>
            <app-button-val [data]="activeSettingObj['data']"></app-button-val>
            <app-input-val [data]="activeSettingObj['data']"></app-input-val>
            <app-textarea-val [data]="activeSettingObj['data']" ></app-textarea-val>
            <app-text-val [data]="activeSettingObj['data']"></app-text-val>
            <app-list-val [data]="activeSettingObj['data']"></app-list-val>
            <app-video-val [data]="activeSettingObj['data']"></app-video-val>
            <app-audio-val [data]="activeSettingObj['data']"></app-audio-val>
          </div>
        </div>
  
        <div class="set-body" *ngIf="stateObj === 'event' " >
          <div class="set-list scrollY setting-events">
            <app-route-event [event]="activeSettingObj['event']"></app-route-event>
          </div>
        </div>
      </ng-container>
      
      <!-- 边框设置 -->
      <div class="div-border left-border">
          <div class="set-btn" (click)="showGrigFun()">
              <img src="assets/icons/right.svg" alt="" *ngIf="pageGridSetting['showRight']">
              <img src="assets/icons/left.svg" alt="" *ngIf="!pageGridSetting['showRight']"> 
            </div>
      </div>
  </div>
  
</div>