
:host /deep/ {
    .comp-item {
        position: relative;
        border-left: 4px solid #ffffff;
        margin-left: 1px;
    }
    .left-border {
        position: absolute;
        width: 4px;
        height: 819px;
        background: #eeeeee;
        border:1px solid #eeeeee;
        left: -6px;
        top: 0px;
        .set-btn {
            cursor: pointer;
            position: absolute;
            top: 385px;
            width: 6px;
            height: 30px;
            background: rgba(255,0,0, 0.5);
            right: 2px;
            &:hover {
                background:rgba(255,0,0, 0.8);
            }
            img {
                width: 6px;
                height: 30px;
                &:hover {
                    width: 7px;
                }
            }
        }
    }
    .item-discription {
        height: 30px;
        line-height: 30px;
        border-left: 5px solid rgba(255,0,0, 0.9);
        background: rgba(255,0,0, 0.05);
        &.noComp {
            cursor: pointer;
            opacity: 0.4;
        }
        .title {
            padding-left: 20px;
            font-size: 13px;
        }
    }
    .comp-tit {
        cursor: pointer;
        position: relative;
        height: 24px;
        line-height: 24px;
        background: #f2f2f2;
        .icon {
            position: absolute;
            width: 14px;
            height: 14px;
            right: 20px;
            top: 5px;
            &.icon-showmore {
                animation: trans-more 0.3s ease-in-out 0s;
            }
            &.icon-showlitter {
                animation: trans-lett 0.3s ease-in-out 0s;
                transform:rotate(90deg);
            }
        }
        .tit {
            margin-left: 8px;
        }
    }
 
    .set-list {
        &.showlitter  {
           overflow: hidden;
           height: 3px;
        }
        &.showmore {
            height: 100%;
        }
    }
    .set-item {
        position: relative;
        display: block;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 5px;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .grid-1 {
        display: grid;
        grid-template-columns: 100%;
    }
    .item-set-grid , .setting-valus{
        position: relative;
        .tit {
            height: 24px;
            line-height: 24px;
            margin-left: 5px;
            color:#aaa;
        }
        .title {
            .icon {
                position: absolute;
                right: 10px;
                position: absolute;
                top: 3px;
                opacity: 0.1;
                &:hover {
                    opacity: 0.7;
                }
                img {
                    width: 12px;
                }
            }
        }
    }
    .set-val {
        position: relative;
        text-align: center;
        margin: 5px;
        height: 100%;
        &.val-grid-2 {
            display: grid;
            grid-template-columns: 20% 80%;
        }
        
        label {
            position: absolute;
            left: 0px;
            top: 0px;
            background: #eee;
            padding: 2px 5px;
            width: 13px;
            height: 20px;
            line-height: 19px;
        }
        input.val {
            width: 43px;
            padding: 2px 3px;
            border: 1px solid #eee;
            position: relative;
            left: 10px;
            height: 18px;
        }
        input[type='radio'] {
            margin: 3px 3px;
        }
        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 5px;
            list-style: none;
            text-align: left;
        }
    }
    .del {
        display: block;
        text-align: center;
        margin: 10px 0;
        .del-btn {
            cursor: pointer;
            width: 20px;
            height: 20px;
            padding: 4px;
            border-radius: 50%;
            box-shadow: 0 0 3px #eeeeee;
            &:hover {
                box-shadow: 0 0 3px red;
            }
        }
    }
    .bd-style.item {

        span {
            border:1px solid rgba($color: #e6e6e6, $alpha: 0.8);
            height: 18px;
            width: 18px;                   ;
        }
    }
    .scrollY {
        cursor: pointer;
        max-height: 300px !important;
        &.showmore {
            min-height: 60px !important; 
        }
        &.styles {
            max-height: 400px !important; 
            &.showmore {
                min-height: 300px !important; 
            }
        }
        overflow-y:auto;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: #f2f2f2;
        }

    
        &::-webkit-scrollbar-thumb  {
            border-radius:10px;
            -webkit-box-shadow:inset 0 0 6px rgba(255,0,0, 0.5);;
            background-color:rgba(255,0,0, 0.5);
        }
    }
    .setting-valus {
        margin-top: 5px;
    }
    .data-val, .setting-valus, .setting-events {
    
        .tit {
            height: 24px;
            line-height: 24px;
            margin-left: 5px;
            color: #aaa;
        }
        .val {
            height: 30px;
            margin: 5px;
            input,textarea {
                width: 130px;
                height: 18px;
            }
        }
    }
}