:host /deep/ { 
    .grid-1 {
        grid-template-columns: 100%;
        .set-val {
            .lab {
                width: 50px !important;
            }
            .val {
                width: 100px !important;
            }
        }
    }
    .style-bg-color {
        span {
            border:1px solid rgba($color: #e6e6e6, $alpha: 0.8);
            width: 24px;
            height: 24px;
            display: inline-block;
            border:1px solid #e6e6e6;
        }
    }
    .bd-style.item span {
        width: 24px;
        height: 24px;
    }

    .borderSpan{
       span {
            border:1px solid rgba($color: #e6e6e6, $alpha: 0.8);
       }
    }


    .item {
        display:inline-block;
        min-width: 23px;
        .bg-col {
            width: 24px;
            height: 24px;
            display:inline-block;
            cursor: pointer;
        }
    }

}