:host {
    .help {
        position: relative;
        .title {
            cursor: pointer;
            position: relative;
            height: 40px;
            width: 32px;
            text-align: right;
            line-height: 40px;
            border-left: 1px solid #ddd;
            right: 4px;
        }
        .body {
            position: absolute;
            right: 0px;
            top: 46px;
            background: #ffffff;
            width: 170px;
            height: 820px;
            border:1px solid #ddd;
            .tit {
                height: 20px;
                margin: 5px;
                color: #ccc;
            }
            .close {
                position: absolute;
                right: 6px;
                width: 16px;
                top: 7px;
            }
        }
    }
}