
:host /deep/ {
    .val-grid {
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto 33.3%;
        grid-column-gap: 4px;
        .item {
            cursor: pointer;
            border:1px solid rgb(205, 205, 205);
            padding: 3px 4px;
            text-align: center;

            &.sel , &:hover{
                color:#fff;
                background: deepskyblue;
                border-color:deepskyblue;
            }
        }
    }
    .set-val {
        label {
            display: inline-block;
            width: 46px;
            left: 12px;
        }
        input.val {
            width: 77px;
            margin-left: 31px;
        }
    }
}