<div class="devBody" [ngClass]="{
  'width-all':pageGridSetting['showLeft'] && pageGridSetting['showRight'],
  'width-no':!pageGridSetting['showLeft'] && !pageGridSetting['showRight'],
  'width-left':pageGridSetting['showLeft'] && !pageGridSetting['showRight'],
  'width-right':!pageGridSetting['showLeft'] && pageGridSetting['showRight']}">
  <!-- 1.组态管理 -->
  <section class="comp-marage">
    <app-comp-configuration
      [currnetPageComps]="currnetPageComps"
      [pageGridSetting]="pageGridSetting"
      (compDragEvent)="dragCompEnd($event)"
      (selCurrentPage)="getCurrentPage($event)"
      (currentPageEvents)="currentPageEvents($event)">
    </app-comp-configuration>
  </section>

  <!-- 2.卡尺辅助 -->
  <section class="canvas-comp">
    <app-scale></app-scale>
  </section>
  <!-- 3.视图 -->
  <section id='componentsBody' [ngClass]="{hasPage:!currnetPageComps}" class="border-r border-b m-l-5 h90 content">

    <div class="page-config" *ngIf="false">
      <div class="run-but" (click)="preView()">
        <img src="./../../../assets/icons/run.svg" title="运行" alt="运行">
      </div>   
    </div> 
    <div class="selectPagePrompt" *ngIf="!currnetPageComps">
      <button>请选择页面</button>
    </div>
    <ng-template view-contain-ref #contentComp ></ng-template>
  </section>

  <!-- 4.设置-->
  <section class="setting-but">
    <app-comp-setting 
      class="settings" 
      [pageGridSetting]="pageGridSetting"
      [activeSettingObj]="activeCompSettingObject" 
      (settingObjChange)="chengeComponent($event)"
      (deleteComponent)="deleteComponent($event)">
    </app-comp-setting>
  </section>


</div>