
:host /deep/ {

    $color-red-1: rgba(255, 0, 0, 0.6);
    $border-color3: $color-red-1;
    .devBody {
        display: grid;
        grid-template-columns: 175px 40px auto 175px;
        margin:0 2px;
        &.width-all {
            grid-template-columns: 175px 40px auto 175px;
        }
        &.width-no {
            grid-template-columns: 10px 40px auto 10px;
        }
        &.width-left {
            grid-template-columns: 175px 40px auto 10px;
        }
        &.width-right {
            grid-template-columns: 10px 40px auto 175px;
        }
    }
    section {
        &.settings, &.content, &.comp-marage ,&.canvas-comp{
            position: relative;
            display: block;
            height: 800px;
        }
        &.canvas-comp {
            left: 10px;
        }
        &.comp-marage {
            border: 1px solid #ccc;
            height: 820px;
        }
        &.setting-but {
            border: 1px solid #ccc;
        }
    }
    .hasPage {
        opacity: 0.9;
        .selectPagePrompt {
            height: 100%;
            width: 100%;
  
            text-align: center;
            .info {
                display: inline-block;
                cursor: pointer;
                position: relative;
                color: #fff;
                background: red;
                border: 1px solid rgba(255, 0, 0, 0.5);
                width: 150px;
                height: 30px;
                top: 200px;
                font-size: 16px;
                line-height: 30px;
            }
  
        }
    }
    .page-config {
        position: fixed;
        top: 6px;
        right: 50px;
        .run-but {
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                padding: 2px;
                border-radius: 50%;
                &:hover {
                    background:rgba(18, 150, 219, 0.2);
                }
            }
        }
    }
   

    #componentsBody {
        position: relative;
        margin: 20px 10px 0 10px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background-image:
            linear-gradient(rgba(200, 205, 208, .3) 1px, transparent 0),
            linear-gradient(90deg, rgba(200, 205, 208, .3), 1px, transparent 0),
            linear-gradient( #C8CDD0 1px, transparent 0),
            linear-gradient(90deg, #C8CDD0 1px, transparent 0);
        background-size: 15px 15px, 15px 15px, 105px 105px, 105px 105px;
        .comp-item {
            cursor: move;
            background: rgba($color:#ffffff , $alpha: 1.0)
        }
        .comp-active {
            // border:1px solid red !important;
            z-index: 11 !important;
        }

        .comp-resize {
            cursor: e-resize;
        }
    }
    .setting-but {
        z-index: 11;
        background: #ffffff;
    }
}