<input type="text"
  class="comp-item p-2-5" 
  draggable="true" 
  [(ngModel)]="data['input_val']"
  [placeholder]="data['placeholder']"
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (dblclick)="inputState($event)"
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'padding':expandUnit('padding'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor'],
    'opacity':style['opacity'],
    'z-index':style['zIndex'],
    'border-radius':getBorderRadius(style['borderRadius'])
  }"
>
