<div class="project-add add-model">
    <div class="top">
        <div class="title">创建新项目</div>
    </div>
    <div class="content">
        <div class="body">
            <div class="item">
                <span class="label">
                    <label for="">名称</label>
                    <span class="required">*</span>
                </span>
                <span class="val">
                    <input type="text" placeholder="项目名称" 
                     #name="ngModel" [(ngModel)]="projectObj['name']"
                    minlength="2"
                    required>
                </span>
                <span class="info">
                    <span class="error" *ngIf="(name.dirty || name.touched) && name.errors && name.errors.minlength">最小长度2个字符</span>
                    <span class="error" *ngIf="(name.dirty || name.touched) && name.errors && name.errors.required">必填</span>
                </span>
            </div>
            <div class="item">
                <span class="label">
                    <label for="">别名</label>
                    <span class="required">*</span>
                </span>
                <span class="val">
                    <input type="text" placeholder="项目的别名" 
                     #appendName="ngModel" [(ngModel)]="projectObj['appendName']"
                    minlength="2"
                    required>
                </span>
                <span class="info">
                    <span class="error" *ngIf="(appendName.dirty || appendName.touched) && appendName.errors && appendName.errors.minlength">最小长度2个字符</span>
                    <span class="error" *ngIf="(appendName.dirty || appendName.touched) && appendName.errors && appendName.errors.required">必填</span>
                </span>
            </div>
            <div class="item">
                <span class="label">
                    <label for="">描述</label>
                    <span class="required"></span>
                </span>
                <span class="val">
                    <textarea type="text" placeholder="描述"
                     #description="ngModel" [(ngModel)]="projectObj['description']"></textarea>
                </span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="btns">
            <button class="btn brn-light cancel" (click)="cancel()">取消</button>
            <button class="btn btn-primary save" [title]="!(name.errors && appendName.errors)?'正确填写表单':'保存'" [ngClass]="{'disabled':(name.errors || appendName.errors)}" (click)="!name.errors && !appendName.errors && save()">保存</button>
        </div>
    </div>
</div>