:host /deep/ { 
    .style-bg-color {
        span {
            width: 19px;
            height: 18px;
            display: inline-block;
            border:1px solid #e6e6e6;
        }
    }

    .bd-style.item span {
        width: 24px;
        height: 24px;
    }
    .item {
        display:inline-block;
        min-width: 23px;
        .bg-col {
            width: 24px;
            height: 24px;
            display:inline-block;
            cursor: pointer;
        }
    }
    .borders {
        display: block;
        min-height: 30px;
        text-align: left;
    }

}