<div 
  class=" comp-item custom-comp-item list-comp equipment-data"
  [ngClass]="{'comp-active': settingObj['active'] }"  
  draggable="true" 
  (dragstart)="compEvent($event)"
  (drag)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngStyle]="{
    'position':style['position'],
    'top':expandUnit('top'),
    'left':expandUnit('left'),
    'width':expandUnit('width'),
    'height':expandUnit('height'),
    'border-width':expandUnit('borderWidth'),
    'border-style':style['borderStyle'],
    'border-color':style['borderColor']
  }" >
  <p class="data-tit">旁路电压</p>
  <div class="content">
    <div class="item" *ngFor="let item of equipmentList;">
      <span class="name">{{item['name']}}</span>
      <span class="value">
          <span class="val">{{item['val']}}</span>
          <span class="unit">{{item['unit']}}</span>  
      </span>

    </div>
  </div>
</div>