<div    
  class="comp-item active-border" 
  draggable="true" 
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] ,'comp-resize': settingObj['eResize']}"
  [ngStyle]="{
      'position':style['position'],
      'top':expandUnit('top'),
      'left':expandUnit('left'),
      'width':expandUnit('width'),
      'height':expandUnit('height'),
      'background':style['background'],
      'border-width':expandUnit('borderWidth'),
      'border-style':style['borderStyle'],
      'border-color':style['borderColor']
  }">
    <audio controls="controls">
      <source src="http://www.w3school.com.cn/i/horse.mp3" type="audio/mp3" />
      Your browser does not support this audio format.
    </audio>
</div>