
:host /deep/ {
    .canvas {
        position: absolute;
        left: 45px;
        top:0;
        #w-canvas {
            height: 26px;
            width:1700px;
            left: 0px;
            top:0;
            position: absolute;
            border-top:1px solid #ccc;
        }
        #h-canvas {
            position: absolute;
            top:1px;
            left: 0px;
            height: 830px;
            width: 20px;
            border-left:1px solid #ccc;
        }
    }
}