<!-- <button
  class="comp-item active-border" 
  draggable="true" 
  (dragstart)="compEvent($event)"
  (dragover)="compEvent($event)"
  (dragend)="compEvent($event)"
  (click)="compEvent($event)" 
  (mousedown)="compEvent($event)"
  [ngClass]="{'comp-active': settingObj['active'] ,'comp-resize': settingObj['eResize']}"
  [ngStyle]="{
      'position':style['position'],
      'top':expandUnit('top'),
      'left':expandUnit('left'),
      'width':expandUnit('width'),
      'height':expandUnit('height'),
      'border-width':expandUnit('borderWidth'),
      'border-style':style['borderStyle'],
      'border-color':style['borderColor']
  }" >提交</button> -->
  <svg >
    <line id="line-top" width="4000" x2="4000" y2="0" style="stroke:rgb(255,0,0);stroke-width:2;" stroke-dasharray="20,10,5,5,5,10"/>
    <!-- <line id="line-buttom" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:0.5" />
    <line id="line-left" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:0.5" />
    <line id="line-right" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:0.5" /> -->
  </svg>
  