
:host /deep/ {
    .route-event {
        display: block;
        position: relative;
        .value-set {
            width: 100%;
            span {
                display: inline-block;
                width: 33px;
                text-align: center;
                color: #777777;
            }
            input {
                height: 20px;
                line-height: 20px;
                width: 100px;
                padding: 1px 3px;
            }
            
        }
    }
}