:host /deep/ { 
    .grid-1 {
        grid-template-columns: 100%;
        .tit {
            margin: 6px 0px;
        }
        .set-val {
            display: grid;
            grid-template-columns: 30% 69%;
            .lab {
                width: 50px !important;
                padding-left: 15px;
            }
            .val {
                width: 100px !important;
            }
        }
    }

    .item {
        display:inline-block;
        .bg-col {
            width: 20px;
            height:20px;
            padding: 0 1px;
            display:inline-block;
            cursor: pointer;
        }
    }
    .bd-style{
        .bg-col {
            border:1px solid rgba($color: #e6e6e6, $alpha: 0.8);
            height: 18px;
            width: 18px;                   ;
        }
    }
}